In [1]:
import numpy as np
import pandas as pd

In [4]:
labels  = ['a','b','c']
my_data = [10, 20, 30]
arr= np.array(my_data)
d = {'a':10, 'b': 20}

In [11]:
pd.Series(data=my_data)[0]

10

In [12]:
ser1 = pd.Series([1,2,5,4])
ser2 = pd.Series([1,2,5,4])
ser1 + ser2

0     2
1     4
2    10
3     8
dtype: int64

In [30]:
ser1

0    1
1    2
2    5
3    4
dtype: int64

In [26]:
np.info(arr)

class:  ndarray
shape:  (3,)
strides:  (4,)
itemsize:  4
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x25818112b80
byteorder:  little
byteswap:  False
type: int32

In [33]:
arr1 = pd.Series([1,2,5,4])
arr2 = arr1.copy()
arr2

0    1
1    2
2    5
3    4
dtype: int64